@define-color bg #f1f3ea;
@define-color fg #1a1d05;
@define-color gray1 #50419a;
@define-color gray2 #83847d;
@define-color gray3 #68559b;
@define-color gray4 #687013;
@define-color gray5 #527100;
@define-color fg_bright #373c1a;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}